body{
    background-color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    font-size: 64px;
    text-align: center;
    color:chocolate;
}

.content{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    padding-top:64px;
}

.buttons{
    display:flex;
    flex-direction: column;
    gap: 48px;
}
.menuButtons{
    border-style: solid;
    border-color: lightcoral;
    border-radius: 25px;
    text-align:center;
    font-size: 24px;
    color:antiquewhite;
    background-color:burlywood;
}
.menuButtons:hover{
    transform:scale(1.05);
}
.menuButtons:active{
    border-color:wheat;
}


.container{
    border:2px solid black;
    height:482px;
    width:482px;
    display:flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: warp;
}
.grid-row{
    flex: 1;
    display:flex;
    width: 100%;
}
.grid-cell{
    background: white;
    align-items: stretch;
    width:100%;
}



/* Slider range */
input[type="range"] {
    -webkit-appearance: none;
    background-color: #bdc3c7;
    width: 300px;
    height: 5px;
    border-radius: 5px;
    margin: 0 auto;
    outline: 0;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: burlywood;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid lightcoral;
    cursor: pointer;
    transition: .3s ease-in-out;
  }​
    input[type="range"]::-webkit-slider-thumb:hover {
      background-color: white;
      border: 2px solid #e74c3c;
    }
    input[type="range"]::-webkit-slider-thumb:active {
      transform: scale(1.6);
      border-color:wheat;
    }